/* Header */
.navbar{
    background-color: #fff;
    height: 80px;
    padding: 0.5rem;
}

.navbar-brand{
    font-weight: 500;
    color: #0d07d2;
    font-size: 24px;
    transition: 0.3s color;
}
.banner-img{
    width: 100%;
    height: 600px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
#carousel{
    background: url(img/4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.login-button, .register-button{
    background-color: #0d07d2;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s #0d05ff;
}

.login-button:hover{
    background-color: #0d05ff;
}

.register-button{
    background-color: black;
    color: white;
}

.register-button:hover{
    background-color: #000000c9;
    color: white;
}


.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: #000;
}

@media only screen and (min-width:991px) {
    .navbar.dragged {
        margin: 0; /* Thay đổi margin thành 0px khi trang được kéo xuống */
        border-radius: 0;
    }
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #0d07d2;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.btn-carousel{
    padding: 15px;
    background: black;
    color: white;
}

.btn-carousel:hover{
    fill: #fff;
    background-color: #616161;
    border: 1px solid #616161;
    color: white;
}

.carousel-img {
    position: relative; /* Để các phần tử con có thể được căn chỉnh tuyệt đối */
    overflow: hidden;
}

.swiper-slide{
    cursor: pointer;
    text-align: justify;
}

.carousel-img img {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    object-position: center top;  
}

.carousel-content {
    position: absolute;
    top: 50%; /* Điều chỉnh theo nhu cầu của bạn */
    left: 30%; /* Điều chỉnh theo nhu cầu của bạn */
    transform: translate(-50%, -50%); /* Trung tâm hóa phần tử */
    color: #fff; /* Đảm bảo nội dung có thể đọc được trên hình ảnh */
    z-index: 10; /* Đảm bảo nội dung hiển thị trên hình ảnh */
   
}

.stats {
    margin-top: -30px;
    position: relative;
  }
  
  .stat__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 95%;
  }

  .stat__header{
    text-align: center;
    margin-bottom: 30px;
  }
  
  .stat__item {
    width: calc(100%/4);
    padding: 0 15px;
  }
  
  .stat__list {
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    padding: 40px 20px;
    border-radius: 6px;
    text-align: center;
    transition: .3s ease;
    background-color: white;
    height: 250px;
  }
  
  .stat__list span i {
    background: #0d07d2;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
  }
  
  .stat__list h1 {
    font-size: 2.6em;
    font-weight: 600;
    color: #232121;
  }
  
  .stat__list p {
    text-transform: capitalize;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 600;
  }
  
  .stat__list:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: .3s ease;
  }

  .details-header{
    padding: 40px 0;
  }

 .head-table, .detail-table {
    vertical-align: text-top;
    padding: 17px;
    border: 0.5px solid #f1f1f1;
}

table.product-detail-table {
    width: 100%;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: unset;
    border-top: 8px solid #0d07d2;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.detail-table ul{
    font-size: 16px;
}

/* #QUESTION */
.fap-wrap{
    padding: 0 15px;
}

.sc-heading{
    padding-top: 30px;
    margin-bottom: 40px;
    position: relative;
    border-bottom: 2px solid #0d07d2;
}

.accordion:not(:last-child) {
    margin-bottom: 10px;
}

.accordion {
    position: relative;
    font-size: 14px;
}

.accordion-content, .discount-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}



.discount-title {
    position: relative;
    padding: 20px 64px 20px 22px;
    background-color: #f5f6f8;
    border: 1px solid #dedede;
    border-radius: 8px;
    color: #333;
    word-wrap: break-word;
    cursor: pointer;
    font-size: 16px;
}

.discount-title:after, .discount-title:hover, .discount-title.active {
    color: #0d07d2;
    background: #FFF;

}

.discount-title.active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.discount-title:after {
    font-family: 'FontAwesome';
    content: "\f105"; 
    font-size: 14px;
    line-height: 1;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 0.3s ease;
}

.discount-title.active:after {
    content: "\f078";
}

.accordion-title {
    position: relative;
    padding: 20px 64px 20px 22px;
    background: #fff;
    border-left: 3px solid #0d07d2;
    color: #333;
    word-wrap: break-word;
    cursor: pointer;
    font-size: 16px;
}

.accordion-title:after, .accordion-title:hover, .accordion-title.active {
    color: #0d07d2;
}

.accordion-title:after {
    font-family: 'FontAwesome';
    content: "\f067"; /* Unicode cho dấu cộng (+) */
    font-size: 14px;
    line-height: 1;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 0.3s ease;
}

.accordion-title.active:after {
    content: "\f068"; /* Unicode cho dấu trừ (-) */
}

.accordion-content .wrap {
    padding: 5px 64px 10px 25px;
    background: #fff;
    font-size: 14px;
}

.wrap p {
    font-size: 16px;
}

.discount-content .wrap {
    padding: 5px 64px 10px 25px;
    background: #fff;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#question{
    background-color: #f7f7f7;
    padding-bottom: 30px;
    margin-top: 50px;
}

.btn-submit{
    background-color: #0d07d2;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.btn-submit:hover{
    background-color: #0d05ff;
    color: white;
}

.form-control{
    border-radius: 20px;
    padding: 10px;
}


.w3l-footer-29-main {
    background: #f5f6f8 ;
    display: flex;
    justify-content: space-between; /* Phân phối khoảng cách giữa các phần tử */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
}


.footer-29 {
    width: 100%; 
}

.footer-top-29 {
    display: flex;
    justify-content: space-between; /* Phân phối khoảng cách giữa các phần tử con */
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
}

.footer-list-29 {
    flex: 1; /* Chiếm toàn bộ không gian có sẵn ở góc trái */
}

.main-social-footer-29 {
    flex: 1; /* Chiếm toàn bộ không gian có sẵn ở góc phải */
    text-align: right; /* Căn phải nội dung */
    padding-bottom: 30px;
}

.footer-logo img {
    max-width: 100%; /* Đảm bảo logo không vượt quá kích thước của phần tử chứa */
}

.main-social-footer-29 a {
    margin-left: 10px; /* Khoảng cách giữa các liên kết mạng xã hội */
}

.main-social-footer-29 h5 {
    margin-bottom: 10px; /* Khoảng cách giữa tiêu đề và các liên kết */
}

.main-social-footer-29 a {
    margin-right: 10px;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: white;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  a {
    text-decoration: none;
  }
  
  .w3l-copyright {
    padding: 1.2em 0;
    border-top: 1px solid #fff;
    background: #f5f6f8;
  }
  
  .w3l-copyright p.copy-footer-29 {
    align-self: center;
    color: black;
    font-size: 17px;
  }
  
  .w3l-copyright .copy-footer-29 a {
    color: red;
  }
  
  .w3l-copyright .copy-footer-29 a:hover {
    color: #fff;
  }

  .w3l-footer-29-main .footer-list-29 ul li a, .w3l-footer-29-main .footer-list-29 ul li p, .w3l-copyright .footer-list-29 ul li a {
    font-size: 17px;
    line-height: 26px;
    color: black;
}
  
  
  .btn-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
  }
  

.backToTop {
    width: 50px;
    height: 50px;
    background: #0d05ff;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #0d05ff;
    visibility: hidden;
    opacity: 0;
}

.backToTop:hover {
    color: #cac7ff;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .customer-items {
        width: 90%;
        padding: 10px;
    }

    .customer-content p {
        font-size: 15px;
    }

    .customer-name p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1024px){
    .stat__item{
      padding: 10px 15px;
      width: 100%;
    }
    .stat__container{
      display: block;
    }
    .stats {
      margin-top: 30px;
    }
    .carousel-content {
        left: 35%;
    }
    .carousel-img img {
        min-height: 400px;
        object-fit: cover;
    }

    .customer-img img{
        height: 300px;
    }
    .customer-content p{
        font-size: 16px;
    }
    .customer-name p{
        font-size: 16px;
    }
    .row .customer-items{
        margin: 20px 0;
    }
    .footer-list-29 {
        flex: none; /* Chiếm toàn bộ không gian có sẵn ở góc trái */
    }
    .w3l-copyright .footer-list-29 ul li a{
        font-size: 16px;
    }
    .w3l-copyright .footer-list-29 ul{
        flex-direction: column;
        padding: 0;
    }
    .carousel-header h1 {
        font-size: 1.2em; /* Giảm kích thước chữ trên màn hình nhỏ hơn */
    }

    .carousel-header h3 {
        font-size: 1em;
    }
}

.footer-list-29 ul li{
    list-style: none;
}

.carousel-header h1, 
.carousel-header h3 {
    margin: 0;
    padding: 0;
    font-size: 2em; /* Kích thước chữ, có thể điều chỉnh */
}

@media (max-width: 768px) {
    .carousel-header h1 {
        font-size: 1em; /* Giảm kích thước chữ trên màn hình nhỏ hơn */
    }

    .carousel-header h3 {
        font-size: 0.9em;
    }

    .carousel-header button {
        font-size: 13px; /* Giảm kích thước chữ trên màn hình nhỏ hơn */
        padding: 12px;
    }

    .btn-carousel {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .customer-speak .customer-content p{
        font-size: 14px;
    }

    .customer-speak .customer-name p{
        font-size: 14px;
    }
    .customer-items .customer-speak{
        height: 300px;
    }
    .head-table h3{
        font-size: 18px;
    }
    .detail-table ul li{
        font-size: 16px
    }
    .main-social-footer-29 h5 {
        font-size: 18px;
    }
    .video__item .video__list{
        height: 250px;
    }
    #carousel{
        min-height: 400px;
        background-position: center;
    }

    .banner-img{
        height: 400px;
    }
    .customer-p{
        justify-content: center;
    }
}

.customer-speak{
    padding: 25px;
    text-align: justify;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.customer-img img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.customer-name{
    line-height: 0.75;
}

.customer-items{
    margin: 10px 0;
}

@media only screen and (min-width:1200px) {
    .customer-speak{
        height: 350px;
    }
}

.swiper-button-prev, .swiper-button-next{
    background: hsla(0, 0%, 77%, .54);
    border: none;
    border-radius: 50%;
    width: 3pc;
    height: 3pc;
    top: var(--swiper-navigation-top-offset, 50%);
    transition: all .2s ease-in-out;
    color: white;
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 1.25rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    background-color: #0d05ff;
    color: white;
}

.direction-title{
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.direction-content p{
    margin: 0;
}

.swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 10px);
}

.title {
    position: relative;
    padding: 20px 64px 20px 22px;
    background: #fff;
    border-left: 3px solid #0d07d2;
    color: #333;
    word-wrap: break-word;
    cursor: pointer;
    font-size: 16px;
}

/* VIDEO  */
.new-block {
    background: var(--bg-color);
  }
  
  .video__list {
    background-image: url(img/banner11.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .video__list::before {
    position: absolute;
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
  }
  
  .video_play_icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
    border: transparent;
    background: #fff;
    cursor: pointer;
  }
  
  .video_play_icon:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    background: #0d07d2;
    border: transparent;
    color: #fff;
  }
  

  
  .mfp-hide {
    display: none !important;
  }
  
  #small-dialog {
    top: 0;
    left: 0;
    text-align: center;
    max-width: 750px;
    margin: 40px auto;
    position: absolute;
    display: inline-block;
  }
  
  .zoom-anim-dialog mfp-hide {
    opacity: 0.95;
  }
  
  #small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
  }
  
  @-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
  }
  
  @keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
  }

